/* ========== CONNECTING FONTS ========== */
@font-face {font-family: Roboto-c;font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff2) format('woff2');}
@font-face {font-family: Roboto-c;font-weight: 700;
  src: url(../fonts/Roboto-Bold.woff2) format('woff2');}

/* ========== COMMON STYLES ========== */
body {
  font-family: Roboto-c, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #27282d;
  color: #d3d3d3;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
[class*='__container'] {max-width: 1300px;margin: 0 auto;padding: 0 15px;}
.main {flex: 1;}
.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #976838;
}

/* ========== HEADER STYLES ========== */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  gap: 15px;
}
.logo {border-radius: 50%;z-index: 1;}
.menu__body {padding: 10px 15px;border-radius: 25px;background-color: #18181b;}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 15px;
}
.menu__link::after {
  content: '';
  width: 0;
  height: 1px;
  display: flex;
  background-color: currentColor;
  transition: width 0.35s;
}
.menu__link:hover::after {width: 100%;}
.menu__icon {display: none;}
@media (max-width: 767.98px) {
  .menu-open body {overflow: hidden;}
  .header::before {
    content: '';
    width: 100%;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #18181b;
  }
  .menu__body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    padding: 100px 15px 20px;
    border-radius: 0;
    overflow: auto;
    background-color: #27282d;
    transition: left 0.35s;
  }
  .menu-open .menu__body {left: 0;}
  .menu__list {flex-direction: column;}
  .menu__link {font-size: 32px;}
  .menu__icon {
    width: 30px;
    height: 18px;
    display: block;
    position: relative;
    z-index: 1;
    background: transparent;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #d3d3d3;
    transition: all 0.35s;
  }
  .menu__icon::before {top: 0;}
  .menu__icon span {top: calc(50% - 1px);}
  .menu__icon::after {bottom: 0;}
  .menu-open .menu__icon::before {top: calc(50% - 1px);transform: rotate(-45deg);}
  .menu-open .menu__icon span {width: 0;left: 50%;}
  .menu-open .menu__icon::after {bottom: calc(50% - 1px);transform: rotate(45deg);}
}

/* ========== HOME SECTION STYLES ========== */
.home {
  min-height: 100vh;
  position: relative;
  padding: 145px 0 45px;
  background: url(../img/home-bg.jpg) bottom/cover no-repeat fixed;
}
.home::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.home__container {max-width: 950px;position: relative;}
.home__title {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 45px;
  background-color: #27282d;
}
.home__buttons {display: flex;justify-content: space-evenly;gap: 15px;}
.home__button {
  text-align: center;
  border-radius: 25px;
  padding: 12px 48px;
  border: 2px solid transparent;
  background-color:#27282d;
  transition: border 0.3s;
}
.home__button:hover {border-color: currentColor;}
@media (max-width: 997.98px) {
  .home__container {max-width: fit-content;}
  .home__title {font-size: 38px;}
}
@media (max-width: 767.98px) {
  .home__title {font-size: 28px;}
}
@media (max-width: 551.98px) {
  .home__buttons {flex-direction: column;}
}
@media (max-width: 411.98px) {
  .home br {display: none;}
  .home__title {font-size: 22px;}
}

/* ========== SMART CLASS SECTION STYLES ========== */
.smartclass {padding: 100px 0 45px;}
.smartclass__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;

}
.smartclass__content {flex: 0 0 44%;}
.smartclass__text {display: grid;gap: 10px;text-align: justify;}
.swiper {height: 420px;flex: 0 1 48%;border-radius: 25px;}
.swiper-slide,
.swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  opacity: 0.8;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #d3d3d3;
  transition: all 0.35s;
}
.swiper-pagination-bullet-active {width: 20px;height: 20px;}
@media (max-width: 997.98px) {
  .smartclass__content,
  .swiper {flex: 1 0 100%;}
  .smartclass__title {text-align: center;}
}
@media (max-width: 767.98px) {
  .smartclass__text {font-size: 16px;}
}

/* ========== ITC SECTION STYLES ========== */
.itc {padding: 100px 0 45px;}
.itc__title {width: 44%;}
.itc__text {display: grid;text-align: justify;gap: 10px;}
@media (min-width: 998px) {
  .itc__text > * {width: 44%;}
  .itc__text >:nth-child(odd) {margin-left: 56%;}
}
@media (max-width: 997.98px) {
  .itc__container {display: flex;flex-direction: column;align-items: center;}
  .itc__title {width: auto;text-align: center;}
}
@media (max-width: 437.98px) {
  .itc__title {font-size: 32px;}
  .itc__text {font-size: 16px;}
}

/* ========== TEAM ITC SECTION STYLES ========== */
.team {padding: 100px 0 45px;background: url(../img/team-bg.jpg) center/cover no-repeat fixed;}
.team__title {font-size: 52px;text-align: center;color: #18181b;}
.team__cards {display: grid;grid-template-columns: repeat(4, 1fr);gap: 25px;}
.team__item {
  display: grid;
  place-items: center;
  gap: 5px;
  padding: 25px 0;
  background-color: rgba(24, 24, 27, 0.9);
  transition: all 0.35s;
}
.team__item:nth-child(odd) img,
.team__item:nth-child(odd) {border-radius: 25px 25px 75px;}
.team__item:nth-child(even) img,
.team__item:nth-child(even) {border-radius: 75px 25px 25px;}
.team__item:hover {transform: scale(0.9);background-color: #18181b;}
h3.team__title {font-size: 22px;margin-bottom: 0;color: #fff;}
.team__sub-title {font-weight: 700;}
@media (max-width: 997.98px) {
  .team__cards {grid-template-columns: repeat(2, 1fr);}
}
@media (max-width: 551.98px) {
  .team__cards {grid-template-columns: auto;}
}

/* ========== CONTACTS SECTION STYLES ========== */
.contacts {padding: 100px 0 45px;}
.contacts__title {text-align: right;}
.contacts__map {
  width: 100%;
  height: 420px;
  margin-bottom: 25px;
}
.contacts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.contacts__link {font-size: 14px;}
.contacts__link::after {
  content: '';
  width: 0;
  height: 1px;
  display: flex;
  background-color: currentColor;
  transition: width 0.35s;
}
.contacts__link:hover::after {width: 100%;}

/* ========== FOOTER STYLES ========== */
.footer {padding: 10px 0;background-color: #18181b;}
.footer__container {
  min-height: 25px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.footer a {color: #a1a1a1;}
.footer a:hover {text-decoration: underline;}
@media (max-width: 767.98px) {
  .footer__container {flex-direction: column;}
}
